     {{ version }}	    INI-File Version
  30000000          Maximum number of nodes
  30000000          Maximum number of elements
  30000000          Highest allowable node-label
  30000000          Highest allowable element-label
        10          Average number of nodes per element
     30000          FEMFAT MAX: Maximum number of channels / transient time steps
   3000000          FEMFAT MAX: Maximum number of samples per channel
  30000000          FEMFAT MAX: Maximum number of samples over all channels
      1000          FEMFAT STRAIN: Maximum number of strain gauges
         1          Language: English=1, German=0
     10000          Maximum number of cutting planes
      3000          Maximum number of FE-Groups
       500          Maximum number of coordinate systems
      2000          Maximum number of physical properties
         4          Interface FE-Struct. : NASTRAN Bulk=2, I-DEAS MS Universal=4, PATRAN Neutral=6, MEDINA=8, Pro/MECHANICA=9, NASTRAN OP2=10, INDEED=12, COSMOS/M=13, ABAQUS FIL=14, ANSYS CDB=16, ABAQUS ODB=20, ABAQUS INP=22, ALTAIR H3D=29, PERMAS DAT=30, ESI ERFH5=31, ADVENTURECluster=32
         4          Interface FE-Stresses: Nastran Punch=2, I-DEAS MS Universal=4, ANSYS Presol=5, PATRAN Result=6, MEDINA=8, Pro/MECHANICA=9, NASTRAN OP2=10, COSMOS/M=13, ABAQUS FIL=14, ANSYS RST=16, LSDYNA d3plot=17, MARC t16=18, PERMAS=19, ABAQUS ODB=20, ALTAIR H3D=29, ESI ERFH5=31, ADVENTURECluster=32
         4          Interface Output-Res.: None=0, NASTRAN Punch=2, I-DEAS MS Universal=4, ANSYS DNSOL=5, PATRAN Result=6, MEDINA=8, Pro/MECHANICA=9, NASTRAN OP2=10, INDEED=12, COSMOS/M=13, HyperMesh Result=15, ANSYS RST=16, TOSCA ONF 600=17, TOSCA ONF 601=18, ABAQUS ODB=20, ALTAIR H3D=29
         9          Default Font Size
        11          Header1 Font Size
{dejavu lgc sans mono}          Font Name
{/share/apps/femfat/Linux/femfat{{ version }}/material_database}          Default Import Material Database Path
{/share/apps/femfat/Linux/femfat{{ version }}/material_database}          Default Export Material Database Path
{/share/apps/femfat/Linux/femfat{{ version }}/bin/database_weld/ecs_standard/weld53_E_steel.dbs}          Default WELD Database
{/share/apps/femfat/Linux/femfat{{ version }}/bin/database_spot/SpotDB_53_standard.xml}          Default SPOTXML Database
        {}          Pdf Viewer Call

