#!/bin/bash
#SBATCH -t {{job.generic_resources.timelimit}}                # time limit set to 15 minutes
#SBATCH --mem={{job.generic_resources.memory}}           # 4G of memory are reserved
#SBATCH -J Abaqus            # the job is named Abaqus
#SBATCH --mail-type=END      # an email is send at the end of the job
#SBATCH -n {{job.generic_resources.cpus}}                 # 8 processors are used
#SBATCH -N 1                 # 1 node is used to avoid network traffic
#SBATCH --lic {{job.abaqus_licenses.license}}:{{job.abaqus_licenses.volume}}         # a license for abaqus is needed
#SBATCH --partition {{job.generic_resources.partitions|join(",")}}

PROJECT="$1"                 # copy the script argument
INPUT={{job.abaqus_jobclass.inputfile}}               # generate the INPUT parameter

# change to SCRATCH ({{job.generic_resources.scratch}})
cd {{job.generic_resources.scratch}}

# Copy INPUT into SCRATCH, if it is newer than the one in SCRATCH
if [[ ! -r "$INPUT" || "$SLURM_SUBMIT_DIR/$INPUT" -nt "$INPUT" ]] ; then
   cp "$SLURM_SUBMIT_DIR/$INPUT" .
fi

# tell the system which version of abaqus you want to use
# module add abaqus/latest
alias abaqus='abaqus'
unset SLURM_GTIDS            # this is odd, but it has to be (!)

# Start ABAQUS/Standard
abaqus job="$PROJECT" analysis input="$INPUT" cpus=$SLURM_NTASKS interactive mp_mode=threads

# Start ABAQUS/Explicit (remove # in front and add one to the standard call)
# abaqus job="$PROJECT" analysis input="$INPUT" cpus=$SLURM_NTASKS interactive mp_mode=mpi

# Start Abaqus non parallel
# abaqus job="$PROJECT" analysis input="$INPUT" interactive
