#!/bin/bash
#SBATCH -t {{job.timelimit}}                # timelimit in minutes
#SBATCH --mem={{job.memory}}           # memory to reserve
#SBATCH -J {{job.jobname}}           # the job name
#SBATCH --mail-type=END      # an email is send at the end of the job
#SBATCH -n {{job.cpus}}                 # processors to use
#SBATCH -N 1                 # Use 1 node for solve jobs
#SBATCH --lic {{job.abaqus_licenses.license}}:{{job.abaqus_licenses.volume}}         # licenses needed
#SBATCH --partition {{job.partitions|join(",")}}   # which partitions to consider

workdir=$SLURM_SUBMIT_DIR
scratch={{job.scratch}}
mkdir -p {{job.scratch}}

echo working dir: $workdir
echo scratch dir: $scratch

PROJECT="abaqus-analisys"                 # Project is the name of the script
INPUT=$(basename {{job.inpfile}})               # The inpfile parameter 
# (Reference job: ./SIMULIA2018doc/English/SIMAINPRefResources/driveshaft.inp)

# Copy INPUT into SCRATCH, if it is newer than the one in SCRATCH #TODO: Needs to be fixed
if [[ ! -r "$scratch/$INPUT" || "$INPUT" -nt "$scratch/$INPUT" ]] ; then
   cp "$INPUT" $scratch
fi

# tell the system which version of abaqus you want to use (ABQLauncher)
module load {{job.abaqus_module.module}}
unset SLURM_GTIDS            # this is odd, but it has to be (!)

cd $scratch

# Start ABAQUS/Standard
ABQLauncher job="$SLURM_JOB_NAME" analysis input="$INPUT" cpus=$SLURM_NTASKS interactive mp_mode=threads

# Start ABAQUS/Explicit (remove # in front and add one to the standard call)
# ABQLauncher job="$PROJECT" analysis input="$INPUT" cpus=$SLURM_NTASKS interactive mp_mode=mpi

# Start Abaqus non parallel
# ABQLauncher job="$PROJECT" analysis input="$INPUT" interactive
