#!/bin/bash
#SBATCH -t {{job.generic_resources.timelimit}}                # timelimit in minutes
#SBATCH --mem={{job.generic_resources.memory}}           # memory to reserve
#SBATCH -J Abaqus            # the job name
#SBATCH --mail-type=END      # an email is send at the end of the job
#SBATCH -n {{job.generic_resources.cpus}}                 # processors to use
#SBATCH -N 1                 # nodes to use
#SBATCH --lic {{job.abaqus_licenses.license}}:{{job.abaqus_licenses.volume}}         # licenses needed
#SBATCH --partition {{job.generic_resources.partitions|join(",")}}   # which partitions to consider

PROJECT="AbaqusJob"                 # Project is the name of the script
INPUT={{job.inputfile}}               # The inpfile parameter

# change to SCRATCH ({{job.generic_resources.scratch}})
mkdir -p {{job.generic_resources.scratch}}
cd {{job.generic_resources.scratch}}

# Copy INPUT into SCRATCH, if it is newer than the one in SCRATCH
if [[ ! -r "$INPUT" || "$SLURM_SUBMIT_DIR/$INPUT" -nt "$INPUT" ]] ; then
   cp "$SLURM_SUBMIT_DIR/$INPUT" .
fi

# tell the system which version of abaqus you want to use
# module add abaqus/latest
alias abaqus='abaqus'
unset SLURM_GTIDS            # this is odd, but it has to be (!)

# Start ABAQUS/Standard
abaqus job="$PROJECT" analysis input="$INPUT" cpus=$SLURM_NTASKS interactive mp_mode=threads

# Start ABAQUS/Explicit (remove # in front and add one to the standard call)
# abaqus job="$PROJECT" analysis input="$INPUT" cpus=$SLURM_NTASKS interactive mp_mode=mpi

# Start Abaqus non parallel
# abaqus job="$PROJECT" analysis input="$INPUT" interactive
