#!/bin/bash

#SBATCH -J {{ jobname }}
#SBATCH -n 1
##SBATCH -A {{ account }}
{{ start }}

if [ -z $approot ]; then
        approot="/share/apps"
fi

export PATH=$approot/femfat/Linux/femfat{{ version }}/bin:$PATH

# unset SLURM_GTIDS (Seems abaqus crashes when this is set)
unset SLURM_GTIDS

export MAGNAECS_LICENSE_PATH=""

# SHARED DIR (All nodes sees this data)
if [ -z cluster_scratch_root ]; then
        cluster_scratch_root="/tmp"
fi

# Get availabe port
read LOWERPORT UPPERPORT < /proc/sys/net/ipv4/ip_local_port_range
while :
do
        PORT="`shuf -i $LOWERPORT-$UPPERPORT -n 1`"
        ss -lpn | grep -q ":$PORT " || break
done

Xvfb :${PORT} -terminate -ac -screen 0 800x600x8 &

femfat -dsp=localhost:${PORT} -job={{ inputfile }}
ExitStatus=$?

exit $ExitStatus

